{% extends "base.html.twig" %}
{% block body %}
    <div class="teaser">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="teasertext">
                        <h1>Web2Copy never saves your files in web2copy's server and it never looks inside your copy.com storage. You authentication tokens are saved in encrypted form too.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature">

                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="feature">
                        <h2><i class="fa title fa-puzzle-piece"></i> About Web2Copy</h2>
                        <p>
                            Web2Copy is a free service brought to you by <a href="http://wponfire.net/" target="_blank">WPonFIRE</a> and <a href="http://themeforest.net/user/ThemeBucket/portfolio" target="_blank">ThemeBucket</a>. Here is a list of tools and technologies used behind this service
                        </p>

                        <div class="row">
                            <div class="col-lg-12">
                                <br/>
                                <p>
                                    <i class="fa fa-star"></i>  File transfer process was offloaded using Iron Worker <br/>
                                    <i class="fa fa-star"></i>  Ablyler's project was used for study purpose<br/>
                                    <i class="fa fa-star"></i>  Inter process communication was maintained by Iron MQ's push queues<br/>
                                    <i class="fa fa-star"></i>  JQuery, FontAwesome and Bootstrap for UI <br/>
                                    <i class="fa fa-star"></i>  PHP, MySQL, Doctrine, Monolog, Guzzle, Composer, Mailgun, PECL/OAuth and Twig in the backend <br/>
                                    <i class="fa fa-star"></i>  And of course, Linux :)
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}