{% extends "base.html.twig" %}
{% block body %}
    <div class="teaser">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="teasertext">
                        <h1>World's Simplest Terms & Condition: Don't be a dick, and that's all!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature">

                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="feature">
                        <h2><i class="fa title fa-file-text-o"></i> Web2Copy Simple Terms & Conditions</h2>
                        <p>
                            <i class="fa fa-star"></i>  Don't abuse this service, because someone is actually paying for the bandwidth and cpu<br/>
                            <i class="fa fa-star"></i>  Use Web2Copy command line tool whenever possible, perhaps :) <br/>
                            <i class="fa fa-star"></i>  Play nice with the APIs<br/>
                            <i class="fa fa-star"></i>  And Finally, Don't be a dick - you know what we mean :)<br/>

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
